# Python
__pycache__/
*.py[cod]
*.pyc

# VS Code
.vscode/

# 虛擬環境
venv/
.env/

# macOS / Windows
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# images
*.png
*.jpg
*.jpeg
*.gif